body {
    padding-top: 3rem;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel {
    position: relative;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.carousel-item {
    height: 32rem;
  }

div {
    display: block;
}